name: Template Update

on:
  push:
    branches: [ main ]

jobs:
  
  sg_deploy_1:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        ref: ${{ github.ref }}

    - name: Inline CSS
      uses: arkoc/inline-css-action@v0.3
      with:
        html-path: './ConfirmTemplate/confirmTemplate.html'
    
    - name: Minify Action
      uses: anthonyftwang/minify-action@v1.0.1
      
    - name: HTML Escape
      id: template
      run: |
        echo "::set-output name=contents::$(sed 's/"/\\"/g' ./ConfirmTemplate/confirmTemplate.html)"
    - name: Deploy Stage
      uses: fjogeleit/http-request-action@v1
      with:
        contentType: appilication/json
        url: https://api.sendgrid.com//v3/templates/${{ secrets.CODE_TEST_ID }}/versions/${{ secrets.CODE_TEST_VERSION_ID }}
        bearerToken: ${{ secrets.TEST_DEPLOY_API }}
        method: 'PATCH'
        data: '{ "active": 1,"name": "ConfirmationTemplate_Test","html_content": "${{ steps.template.outputs.contents }}" }'

  sg_deploy_2: 
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        ref: ${{ github.ref }}

    - name: Inline CSS
      uses: arkoc/inline-css-action@v0.3
      with:
        html-path: './AuthTemplate/authTemplate.html'
    
    - name: Minify Action
      uses: anthonyftwang/minify-action@v1.0.1
      
    - name: HTML Escape
      id: template
      run: |
        echo "::set-output name=contents::$(sed 's/"/\\"/g' ./AuthTemplate/authTemplate.html)"
    - name: Deploy Stage
      uses: fjogeleit/http-request-action@v1
      with:
        contentType: appilication/json
        url: https://api.sendgrid.com//v3/templates/${{ secrets.AUTH_TEST_ID }}/versions/${{ secrets.AUTH_TEST_VERSION_ID }}
        bearerToken: ${{ secrets.TEST_DEPLOY_API }}
        method: 'PATCH'
        data: '{ "active": 1,"name": "AuthenticationTemplate_Test","html_content": "${{ steps.template.outputs.contents }}" }'
        

