name: Template Update
env:
  html_code: ${{ account_code_new.html }}

on:
  push:
    branches: [ main ]

jobs:
  sg_deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy Stage
      uses: fjogeleit/http-request-action@v1
      with:
        contentType: appilication/json
        url: https://api.sendgrid.com//v3/templates/${{ secrets.TEMP_1_ID }}/versions
        bearerToken: ${{ secrets.SG_API_KEY }}
        method: 'POST'
        data: '{ "active": 1,"name": "Test5","html_content": "${{ account_code_new.html }}"","editor": "code" }'


