name: Template Update

on:
  push:
    branches: [ main ]

jobs:

  css_minify:
    runs-on: ubuntu-latest
    steps:
    - name: Minify CSS
      uses: docker://devatherock/minify-js:1.0.3
      with:
        directory: 'css/style.css'      
        output: 'src'
  
  sg_deploy:
    runs-on: ubuntu-latest
    # needs: [css_minify]
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        ref: ${{ github.ref }}

    - name: Minify Action
      uses: anthonyftwang/minify-action@v1.0.1
      
    - name: html escape
      id: template
      run: |
        echo "::set-output name=contents::$(sed 's/"/\\"/g' template2.html)"
    - name: Deploy Stage
      uses: fjogeleit/http-request-action@v1
      with:
        contentType: appilication/json
        url: https://api.sendgrid.com//v3/templates/${{ secrets.TEMP_1_ID }}/versions
        bearerToken: ${{ secrets.SG_API_KEY }}
        method: 'POST'
        data: '{ "active": 1,"name": "Test5","html_content": "${{ steps.template.outputs.contents }}","editor": "code" }'
