name: Template Update

on:
  push:
    branches: [ main ]

jobs:
  sg_deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Read Template
      id: template
      uses: juliangruber/read-file-action@v1
      with:
        path: ../template1
    - name: Deploy Stage
      uses: fjogeleit/http-request-action@v1
      with:
        contentType: appilication/json
        url: https://api.sendgrid.com//v3/templates/${{ secrets.TEMP_1_ID }}/versions
        bearerToken: ${{ secrets.SG_API_KEY }}
        method: 'POST'
        data: '{ "active": 1,"name": "Test5","html_content": "${{ steps.template.outputs.content }}","editor": "code" }'


