name: Template Update

on:
  push:
    branches: [ main ]

jobs:

  css_minify:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Minify CSS
      uses: ./
      with:
        folder: './'
      
    - name: Print out test file.
      run: |
        cat test.min.css
    - name: test css
      run: echo test.min.css

  html_minify:
    runs-on: ubuntu-latest
    needs: [css_minify]
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: html escape
      id: template
      run: |
        echo "::set-output name=contents::$(sed 's/"/\\"/g' template.html)"
  
  sg_deploy:
    runs-on: ubuntu-latest
    needs: [html_minify]
    steps:
    - name: Deploy Stage
      uses: fjogeleit/http-request-action@v1
      with:
        contentType: appilication/json
        url: https://api.sendgrid.com//v3/templates/${{ secrets.TEMP_1_ID }}/versions
        bearerToken: ${{ secrets.SG_API_KEY }}
        method: 'POST'
        data: '{ "active": 1,"name": "Test5","html_content": "${{ steps.template.outputs.contents }}","editor": "code" }'


