name: Template Update

on:
  push:
    branches: [ main ]

jobs:
  
  sg_deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        ref: ${{ github.ref }}

    - name: Inline CSS
      uses: arkoc/inline-css-action@v0.3
      with:
        html-path: 'template.html'
    
    - name: Minify Action
      uses: anthonyftwang/minify-action@v1.0.1
      
    - name: HTML Escape
      id: template
      run: |
        echo "::set-output name=contents::$(sed 's/"/\\"/g' template.html)"
    - name: Deploy Stage
      uses: fjogeleit/http-request-action@v1
      with:
        contentType: appilication/json
        url: https://api.sendgrid.com//v3/templates/${{ secrets.TEMP_2_ID }}/versions/${{ secrets.TEMP_2_VERSION }}
        bearerToken: ${{ secrets.SG_API_KEY }}
        method: 'PATCH'
        data: '{ "active": 0,"name": "ConfirmationTemplate_Test","html_content": "${{ steps.template.outputs.contents }}" }'
        

