name: Template Update
env:
  SG_KEY: ${{ secrets.SG_API_KEY }}
  TEMPLATE_1: ${{ secrets.TEMP_1_ID }}

on:
  push:
    branches: [ main ]

jobs:
  sg_deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy Stage
      uses: fjogeleit/http-request-action@v1
      with:
        url: https://api.sendgrid.com//v3/templates/${{ secrets.TEMP_1_ID }}/versions
        method: 'POST'
        bearerToken: ${{ secrets.SG_API_KEY }}
        contentType: appilication/json
        data: '{ "active": 1,"name": "Test5","html_content": "dolor","editor": "code" }'


